aws_access_key = ""

aws_secret_key = ""

key_name = "name_of_existing_key_pair"

private_key_path = "private_key_path\private_key_file.pem"

bucket_name_prefix = "globo"

environment_tag = "dev"

billing_code_tag = "ACCT8675309"

arm_subscription_id = "AZURE_SUBSCRIPTION_ID"

arm_principal = "AZURE_SERVICE_PRINCIPAL_ID"

arm_password = "AZURE_SERVICE_PRINCIPAL_PASSWORD"

tenant_id = "AZURE_SERVICE_PRINCIPAL_TENANT_ID"

dns_zone_name =  "yourzonename.com"

dns_resource_group = "AZURE_RESOURCE_GROUP_NAME_FOR_DNS_ZONE"