environment_tag = "uat"

billing_code_tag = "ACCT8675309"

dns_site_name = "uat-website"

dns_zone_name =  "yourzonename.com"

dns_resource_group = "AZURE_RESOURCE_GROUP_NAME_FOR_DNS_ZONE"

instance_count = "4"

subnet_count = "2"